<%= javascript_pack_tag 'main' %>

<%# header&sideレンダー %>
<%= render partial: "/shared/header"%>
<%= render partial: "/shared/sideObject"%>

<% breadcrumb :company %>
<%= breadcrumbs separator: " &rsaquo; " %>

<div class="company">
      <div class="company-main">
        
      </div>


      <div class="message">

        <div class="title">
          <div class="title-cover">
          <p>Message</p>	
        </div>

      </div>

</div>

<%= render partial: "/shared/footer"%>