<%= javascript_pack_tag 'main' %>

<%# header&sideレンダー %>
<%= render partial: "/shared/header"%>
<%= render partial: "/shared/sideObject"%>

<div class="home">
  <div class="home-main">
    <img  src="/images/Type-Aけいはんな観光ロゴカラー.png" class="mainLogo"/>
    
  </div>

  <div class="notice">
    <div class="font">
      <%= flash[:notice] %>
    </div>
  </div>

  <div class="slogan">
  
    <div class="title">
      <div class="title-cover">
        <p>Slogan</p>	
      </div>
    </div>

    <div class="slogan-content">

      <div class="slogan-img">
        <div class="image1"></div>
        <div class="image2"></div>
        <%# <img class="image1" src="https://images.unsplash.com/photo-1503640538573-148065ba4904?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"> %>
        <%# <img class="image2" src="https://images.unsplash.com/photo-1545569341-9eb8b30979d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"> %>
      </div>

      <div class="slogan-text">
        <h1>旅行のことならなんでもご相談ください。</h1>
        <p class="p1">・御結婚式、宴会、お食事、飛行機等の送迎</p>
        <p class="p2">・日が入り旅行</p>
        <p class="p3">・一般旅行</p>
        <p class="p4">・旅行の企画、行程</p>
      </div>
    </div>

  </div>


  <div class="message">

    <div class="title">
      <div class="title-cover">
        <p>Message</p>	
      </div>
    </div>

  </div>

  <div class="sns-conect">

    <div class="title">
      <div class="title-cover">
        <p>SNS</p>
      </div>
    </div>

    <div class="twitter">
      <a class="twitter-timeline" href="https://twitter.com/keihanna_kanko?ref_src=twsrc%5Etfw" width="300px" height="400px">Tweets by keihanna_kanko</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

</div>

<%= render partial: "/shared/footer"%>