<%= javascript_pack_tag 'main' %>

<%# header&sideレンダー %>
<%= render partial: "/shared/header"%>
<%= render partial: "/shared/sideObject"%>

<div class="home">
  <div class="home-main">
    <img src="<%= asset_path "Type-Aけいはんな観光ロゴカラー.png"%>", class="mainLogo", alt="けいはんな観光ロゴ2" />
    
  </div>

  <div class="slogan">
  
    <div class="title">
      <div class="title-cover">
        <p>Slogan</p>	
      </div>
    </div>

    <div class="slogan-content">

      <div class="slogan-img">
        <div class="image1"></div>
        <div class="image2"></div>
      </div>

      <div class="slogan-text">
        <h1><span class="mobile-br">旅行のことならなんでも</span><span id="mobile-br2">ご相談ください。</span></h1>
        
        <p class="example">・御結婚式、宴会、お食事、飛行場等の送迎</p>
        <p class="example">・日帰り旅行</p>
        <p class="example">・一般旅行</p>
        <p class="example">・旅行の企画、行程</p>

        <p class="company-info">京都･大阪･奈良にまたがる
          <span id="mobile-br2">「けいはんな学研都市」に拠点を置く観光会社。</span>
          <br>旅行の企画から行程作り。
          <span id="mobile-br2">御結婚式･宴会･飛行場までの送迎など</span>
          <br><span class="text-point">『お客様にあったプラン』</span>
          <span id="mobile-br2">をご提供いたします</span>
        </p>
      </div>
    </div>

  </div>

  <div class="sns-conect">

    <div class="title">
      <div class="title-cover">
        <p>SNS</p>
      </div>
    </div>

    <div class="twitter">
      <a class="twitter-timeline" href="https://twitter.com/keihanna_kanko?ref_src=twsrc%5Etfw" width="400px" height="400px">Tweets by keihanna_kanko</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

</div>

<%= render partial: "/shared/footer"%>