<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>けいはんな観光株式会社</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <%# Fonts %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kosugi+Maru&family=M+PLUS+1p&family=Noto+Serif+JP&family=Squada+One&display=swap" rel="stylesheet">

    <%# metaタグ %>
    <meta charset="utf-8">

    <meta name="google-site-verification" content="AxOzTRTv2FxjW6pV3rarJ5AbjEJV6psQtd5P3DpAF9I" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="format-detection" content="telephone=no">

    <meta name="description" content="京都･大阪･奈良にまたがる「けいはんな学研都市」に拠点を置く観光会社、けいはんな観光。旅行の企画から行程作り。お客様にあったプランをご提供いたします">

    <%# SNSシェアカード %>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@keihanna_kanko" />

    <meta property="og:title" content="けいはんな観光株式会社  -公式ホームページ-" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="京都･大阪･奈良にまたがる「けいはんな学研都市」に拠点を置く観光会社。旅行の企画から行程作り。御結婚式･宴会･飛行場までの送迎などお客様にあったプランをご提供いたします">
    <meta property="og:url" content="https://keihannakankou.herokuapp.com/">
    <meta property="og:site_name" content="けいはんな観光">
    <meta property="og:image" content="/images/Type-Aけいはんな観光ロゴカラー.png">
    <meta property="og:locale" content="ja_JP" />

    <%= favicon_link_tag('Type-Bけいはんな観光アイコン2.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
