<!DOCTYPE html>
<html>
  <head>
    <title>KeihannaKankou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <%# Fonts %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=M+PLUS+1p&family=Noto+Serif+JP&family=Squada+One&display=swap" rel="stylesheet">

    <%# metaタグ %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta name="format-detection" content="telephone=no">

    <meta name="description" content=""> <%# ---------------------------------------完成近くで仕上げ%> 

    <%= favicon_link_tag('/images/Type-Bけいはんな観光アイコン2.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
